/* .border{
    border: 2px solid rgb(248, 6, 6);
    margin: 3px;
} */
.flex{
    display: flex;
    
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin:2px;
 }
.p-1{
    padding: 6px;

} 
/* Style for the scrollbar */
::-webkit-scrollbar {
    width: 10px;  /* Set the width of the scrollbar */
    height: 10px; /* Set the height of the scrollbar (for horizontal scrollbar) */
  }
  
  /* Style for the scrollbar track */
  ::-webkit-scrollbar-track {
    background: #2c2f38;  /* Dark background for the track */
    border-radius: 10px;   /* Rounded corners for the track */
  }
  
  /* Style for the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #555;  /* Dark gray color for the thumb */
    border-radius: 10px;     /* Rounded corners for the thumb */
    border: 2px solid #2c2f38; /* Optional: darker border around the thumb */
  }
  
  /* Hover effect for the scrollbar thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #888;  /* Lighter gray when hovering */
  }
  